.A {
    content:url("/img/A.png");
    float: left;
}
.B {
    content:url("/img/B.png");
    float: left;
}
.C {
    content:url("/img/C.png");
    float: left;
}
.D {
    content:url("/img/D.png");
    float: left;
}
.E {
    content:url("/img/E.png");
    float: left;
}
.F {
    content:url("/img/F.png");
    float: left;
}
.G {
    content:url("/img/G.png");
    float: left;
}